:root {
  --actions-base-font-family: "Petrobras Sans", Helvetica;
  --actions-base-font-size: 16px;
  --actions-base-font-style: normal;
  --actions-base-font-weight: 700;
  --actions-base-letter-spacing: 0px;
  --actions-base-line-height: 24px;
  --actions-s-font-family: "Roboto", Helvetica;
  --actions-s-font-size: 14px;
  --actions-s-font-style: normal;
  --actions-s-font-weight: 500;
  --actions-s-letter-spacing: 0px;
  --actions-s-line-height: 21px;
  --actions-XS-font-family: "Petrobras Sans", Helvetica;
  --actions-XS-font-size: 12px;
  --actions-XS-font-style: normal;
  --actions-XS-font-weight: 700;
  --actions-XS-letter-spacing: 0px;
  --actions-XS-line-height: 18px;
  --body-font-family: "Petrobras Sans", Helvetica;
  --body-font-size: 13px;
  --body-font-style: normal;
  --body-font-weight: 400;
  --body-letter-spacing: -0.26px;
  --body-line-height: normal;
  --bootstrapgray-darker: rgba(34, 34, 34, 1);
  --border-bottom: ;
  --brand-primary-base: rgba(16, 104, 235, 1);
  --brandprimary-base: rgba(0, 133, 66, 1);
  --brandsecondary-base: rgba(253, 200, 47, 1);
  --color-fill-colorsneutralneutral-0: rgba(255, 255, 255, 1);
  --desktop-body-base-font-family: "Petrobras Sans", Helvetica;
  --desktop-body-base-font-size: 16px;
  --desktop-body-base-font-style: normal;
  --desktop-body-base-font-weight: 400;
  --desktop-body-base-letter-spacing: 0px;
  --desktop-body-base-line-height: 24px;
  --desktop-body-font-family: "Roboto", Helvetica;
  --desktop-body-font-size: 16px;
  --desktop-body-font-style: normal;
  --desktop-body-font-weight: 400;
  --desktop-body-letter-spacing: 0px;
  --desktop-body-line-height: 24px;
  --desktop-body-s-font-family: "Roboto", Helvetica;
  --desktop-body-s-font-size: 14px;
  --desktop-body-s-font-style: normal;
  --desktop-body-s-font-weight: 400;
  --desktop-body-s-letter-spacing: 0px;
  --desktop-body-s-line-height: 21px;
  --desktop-body-XS-font-family: "Petrobras Sans", Helvetica;
  --desktop-body-XS-font-size: 12px;
  --desktop-body-XS-font-style: normal;
  --desktop-body-XS-font-weight: 400;
  --desktop-body-XS-letter-spacing: 0px;
  --desktop-body-XS-line-height: 18px;
  --desktop-display-bold-font-family: "Roboto", Helvetica;
  --desktop-display-bold-font-size: 36px;
  --desktop-display-bold-font-style: normal;
  --desktop-display-bold-font-weight: 700;
  --desktop-display-bold-letter-spacing: 0px;
  --desktop-display-bold-line-height: 45px;
  --desktop-display-light-font-family: "Petrobras Sans", Helvetica;
  --desktop-display-light-font-size: 36px;
  --desktop-display-light-font-style: normal;
  --desktop-display-light-font-weight: 300;
  --desktop-display-light-letter-spacing: 0px;
  --desktop-display-light-line-height: 45px;
  --desktop-display-regular-font-family: "Petrobras Sans", Helvetica;
  --desktop-display-regular-font-size: 36px;
  --desktop-display-regular-font-style: normal;
  --desktop-display-regular-font-weight: 400;
  --desktop-display-regular-letter-spacing: 0px;
  --desktop-display-regular-line-height: 45px;
  --desktop-display-semibold-font-family: "Petrobras Sans", Helvetica;
  --desktop-display-semibold-font-size: 36px;
  --desktop-display-semibold-font-style: normal;
  --desktop-display-semibold-font-weight: 400;
  --desktop-display-semibold-letter-spacing: 0px;
  --desktop-display-semibold-line-height: 45px;
  --desktop-h1-bold-font-family: "Petrobras Sans", Helvetica;
  --desktop-h1-bold-font-size: 32px;
  --desktop-h1-bold-font-style: normal;
  --desktop-h1-bold-font-weight: 700;
  --desktop-h1-bold-letter-spacing: 0px;
  --desktop-h1-bold-line-height: 40px;
  --desktop-h1-light-font-family: "Petrobras Sans", Helvetica;
  --desktop-h1-light-font-size: 32px;
  --desktop-h1-light-font-style: normal;
  --desktop-h1-light-font-weight: 300;
  --desktop-h1-light-letter-spacing: 0px;
  --desktop-h1-light-line-height: 40px;
  --desktop-h1-regular-font-family: "Petrobras Sans", Helvetica;
  --desktop-h1-regular-font-size: 32px;
  --desktop-h1-regular-font-style: normal;
  --desktop-h1-regular-font-weight: 400;
  --desktop-h1-regular-letter-spacing: 0px;
  --desktop-h1-regular-line-height: 40px;
  --desktop-h1-semibold-font-family: "Petrobras Sans", Helvetica;
  --desktop-h1-semibold-font-size: 32px;
  --desktop-h1-semibold-font-style: normal;
  --desktop-h1-semibold-font-weight: 400;
  --desktop-h1-semibold-letter-spacing: 0px;
  --desktop-h1-semibold-line-height: 40px;
  --desktop-h2-bold-font-family: "Petrobras Sans", Helvetica;
  --desktop-h2-bold-font-size: 28px;
  --desktop-h2-bold-font-style: normal;
  --desktop-h2-bold-font-weight: 700;
  --desktop-h2-bold-letter-spacing: 0px;
  --desktop-h2-bold-line-height: 35px;
  --desktop-h2-light-font-family: "Petrobras Sans", Helvetica;
  --desktop-h2-light-font-size: 28px;
  --desktop-h2-light-font-style: normal;
  --desktop-h2-light-font-weight: 300;
  --desktop-h2-light-letter-spacing: 0px;
  --desktop-h2-light-line-height: 35px;
  --desktop-h2-regular-font-family: "Petrobras Sans", Helvetica;
  --desktop-h2-regular-font-size: 28px;
  --desktop-h2-regular-font-style: normal;
  --desktop-h2-regular-font-weight: 400;
  --desktop-h2-regular-letter-spacing: 0px;
  --desktop-h2-regular-line-height: 35px;
  --desktop-h2-semibold-font-family: "Petrobras Sans", Helvetica;
  --desktop-h2-semibold-font-size: 28px;
  --desktop-h2-semibold-font-style: normal;
  --desktop-h2-semibold-font-weight: 400;
  --desktop-h2-semibold-letter-spacing: 0px;
  --desktop-h2-semibold-line-height: 35px;
  --desktop-h3-bold-font-family: "Petrobras Sans", Helvetica;
  --desktop-h3-bold-font-size: 26px;
  --desktop-h3-bold-font-style: normal;
  --desktop-h3-bold-font-weight: 700;
  --desktop-h3-bold-letter-spacing: 0px;
  --desktop-h3-bold-line-height: 32px;
  --desktop-h3-light-font-family: "Petrobras Sans", Helvetica;
  --desktop-h3-light-font-size: 26px;
  --desktop-h3-light-font-style: normal;
  --desktop-h3-light-font-weight: 300;
  --desktop-h3-light-letter-spacing: 0px;
  --desktop-h3-light-line-height: 32px;
  --desktop-h3-regular-font-family: "Petrobras Sans", Helvetica;
  --desktop-h3-regular-font-size: 26px;
  --desktop-h3-regular-font-style: normal;
  --desktop-h3-regular-font-weight: 400;
  --desktop-h3-regular-letter-spacing: 0px;
  --desktop-h3-regular-line-height: 32px;
  --desktop-h3-semibold-font-family: "Roboto", Helvetica;
  --desktop-h3-semibold-font-size: 26px;
  --desktop-h3-semibold-font-style: normal;
  --desktop-h3-semibold-font-weight: 500;
  --desktop-h3-semibold-letter-spacing: 0px;
  --desktop-h3-semibold-line-height: 32px;
  --desktop-h4-bold-font-family: "Petrobras Sans", Helvetica;
  --desktop-h4-bold-font-size: 22px;
  --desktop-h4-bold-font-style: normal;
  --desktop-h4-bold-font-weight: 700;
  --desktop-h4-bold-letter-spacing: 0px;
  --desktop-h4-bold-line-height: 27px;
  --desktop-h4-light-font-family: "Petrobras Sans", Helvetica;
  --desktop-h4-light-font-size: 22px;
  --desktop-h4-light-font-style: normal;
  --desktop-h4-light-font-weight: 300;
  --desktop-h4-light-letter-spacing: 0px;
  --desktop-h4-light-line-height: 27px;
  --desktop-h4-regular-font-family: "Petrobras Sans", Helvetica;
  --desktop-h4-regular-font-size: 22px;
  --desktop-h4-regular-font-style: normal;
  --desktop-h4-regular-font-weight: 400;
  --desktop-h4-regular-letter-spacing: 0px;
  --desktop-h4-regular-line-height: 27px;
  --desktop-h4-semibold-font-family: "Petrobras Sans", Helvetica;
  --desktop-h4-semibold-font-size: 22px;
  --desktop-h4-semibold-font-style: normal;
  --desktop-h4-semibold-font-weight: 400;
  --desktop-h4-semibold-letter-spacing: 0px;
  --desktop-h4-semibold-line-height: 27px;
  --desktop-h5-bold-font-family: "Petrobras Sans", Helvetica;
  --desktop-h5-bold-font-size: 20px;
  --desktop-h5-bold-font-style: normal;
  --desktop-h5-bold-font-weight: 700;
  --desktop-h5-bold-letter-spacing: 0px;
  --desktop-h5-bold-line-height: 25px;
  --desktop-h5-light-font-family: "Petrobras Sans", Helvetica;
  --desktop-h5-light-font-size: 20px;
  --desktop-h5-light-font-style: normal;
  --desktop-h5-light-font-weight: 300;
  --desktop-h5-light-letter-spacing: 0px;
  --desktop-h5-light-line-height: 25px;
  --desktop-h5-regular-font-family: "Petrobras Sans", Helvetica;
  --desktop-h5-regular-font-size: 20px;
  --desktop-h5-regular-font-style: normal;
  --desktop-h5-regular-font-weight: 400;
  --desktop-h5-regular-letter-spacing: 0px;
  --desktop-h5-regular-line-height: 25px;
  --desktop-h5-semibold-font-family: "Petrobras Sans", Helvetica;
  --desktop-h5-semibold-font-size: 20px;
  --desktop-h5-semibold-font-style: normal;
  --desktop-h5-semibold-font-weight: 400;
  --desktop-h5-semibold-letter-spacing: 0px;
  --desktop-h5-semibold-line-height: 25px;
  --desktop-h6-bold-font-family: "Petrobras Sans", Helvetica;
  --desktop-h6-bold-font-size: 18px;
  --desktop-h6-bold-font-style: normal;
  --desktop-h6-bold-font-weight: 700;
  --desktop-h6-bold-letter-spacing: 0px;
  --desktop-h6-bold-line-height: 22px;
  --desktop-h6-light-font-family: "Petrobras Sans", Helvetica;
  --desktop-h6-light-font-size: 18px;
  --desktop-h6-light-font-style: normal;
  --desktop-h6-light-font-weight: 300;
  --desktop-h6-light-letter-spacing: 0px;
  --desktop-h6-light-line-height: 22px;
  --desktop-h6-regular-font-family: "Petrobras Sans", Helvetica;
  --desktop-h6-regular-font-size: 18px;
  --desktop-h6-regular-font-style: normal;
  --desktop-h6-regular-font-weight: 400;
  --desktop-h6-regular-letter-spacing: 0px;
  --desktop-h6-regular-line-height: 22px;
  --desktop-h6-semibold-font-family: "Petrobras Sans", Helvetica;
  --desktop-h6-semibold-font-size: 18px;
  --desktop-h6-semibold-font-style: normal;
  --desktop-h6-semibold-font-weight: 400;
  --desktop-h6-semibold-letter-spacing: 0px;
  --desktop-h6-semibold-line-height: 22px;
  --header-2-font-family: "Petrobras Sans", Helvetica;
  --header-2-font-size: 20px;
  --header-2-font-style: normal;
  --header-2-font-weight: 700;
  --header-2-letter-spacing: -0.4px;
  --header-2-line-height: normal;
  --neutral-neutral-0: rgba(255, 255, 255, 1);
  --neutral-neutral-1: rgba(248, 249, 250, 1);
  --neutral-neutral-2: rgba(241, 243, 245, 1);
  --neutral-neutral-3: rgba(233, 236, 239, 1);
  --neutral-neutral-4: rgba(222, 226, 230, 1);
  --neutral-neutral-5: rgba(206, 212, 218, 1);
  --neutral-neutral-6: rgba(173, 181, 189, 1);
  --neutral-neutral-7: rgba(106, 113, 120, 1);
  --neutral-neutral-8: rgba(79, 87, 94, 1);
  --neutral-neutral-9: rgba(39, 43, 48, 1);
  --neutralneutral-10: rgba(16, 18, 19, 1);
  --petrobras-amarelo: rgba(253, 200, 47, 1);
  --petrobras-laranja: rgba(237, 139, 0, 1);
  --petrobras-verde: rgba(0, 133, 66, 1);
  --petrobraspb-water-green: rgba(0, 178, 169, 1);
  --petrobrastintspb-green-25: rgba(191, 225, 208, 1);
  --petrobrastintspb-green-75: rgba(64, 164, 113, 1);
  --petrobrastintspb-water-green-25: rgba(191, 236, 234, 1);
  --petrobrastintspb-yellow-25: rgba(255, 241, 203, 1);
  --petrobrastintspb-yellow-75: rgba(254, 214, 99, 1);
  --phone-body-base-font-family: "Petrobras Sans", Helvetica;
  --phone-body-base-font-size: 16px;
  --phone-body-base-font-style: normal;
  --phone-body-base-font-weight: 400;
  --phone-body-base-letter-spacing: 0px;
  --phone-body-base-line-height: 24px;
  --phone-body-s-font-family: "Petrobras Sans", Helvetica;
  --phone-body-s-font-size: 14px;
  --phone-body-s-font-style: normal;
  --phone-body-s-font-weight: 400;
  --phone-body-s-letter-spacing: 0px;
  --phone-body-s-line-height: 21px;
  --phone-body-XS-font-family: "Petrobras Sans", Helvetica;
  --phone-body-XS-font-size: 12px;
  --phone-body-XS-font-style: normal;
  --phone-body-XS-font-weight: 400;
  --phone-body-XS-letter-spacing: 0px;
  --phone-body-XS-line-height: 18px;
  --phone-display-bold-font-family: "Petrobras Sans", Helvetica;
  --phone-display-bold-font-size: 32px;
  --phone-display-bold-font-style: normal;
  --phone-display-bold-font-weight: 700;
  --phone-display-bold-letter-spacing: 0px;
  --phone-display-bold-line-height: 40px;
  --phone-display-light-font-family: "Petrobras Sans", Helvetica;
  --phone-display-light-font-size: 32px;
  --phone-display-light-font-style: normal;
  --phone-display-light-font-weight: 300;
  --phone-display-light-letter-spacing: 0px;
  --phone-display-light-line-height: 40px;
  --phone-display-regular-font-family: "Petrobras Sans", Helvetica;
  --phone-display-regular-font-size: 32px;
  --phone-display-regular-font-style: normal;
  --phone-display-regular-font-weight: 400;
  --phone-display-regular-letter-spacing: 0px;
  --phone-display-regular-line-height: 40px;
  --phone-display-semibold-font-family: "Petrobras Sans", Helvetica;
  --phone-display-semibold-font-size: 32px;
  --phone-display-semibold-font-style: normal;
  --phone-display-semibold-font-weight: 400;
  --phone-display-semibold-letter-spacing: 0px;
  --phone-display-semibold-line-height: 40px;
  --phone-h1-bold-font-family: "Petrobras Sans", Helvetica;
  --phone-h1-bold-font-size: 28px;
  --phone-h1-bold-font-style: normal;
  --phone-h1-bold-font-weight: 700;
  --phone-h1-bold-letter-spacing: 0px;
  --phone-h1-bold-line-height: 34px;
  --phone-h1-light-font-family: "Petrobras Sans", Helvetica;
  --phone-h1-light-font-size: 28px;
  --phone-h1-light-font-style: normal;
  --phone-h1-light-font-weight: 300;
  --phone-h1-light-letter-spacing: 0px;
  --phone-h1-light-line-height: 34px;
  --phone-h1-regular-font-family: "Petrobras Sans", Helvetica;
  --phone-h1-regular-font-size: 28px;
  --phone-h1-regular-font-style: normal;
  --phone-h1-regular-font-weight: 400;
  --phone-h1-regular-letter-spacing: 0px;
  --phone-h1-regular-line-height: 34px;
  --phone-h1-semibold-font-family: "Petrobras Sans", Helvetica;
  --phone-h1-semibold-font-size: 28px;
  --phone-h1-semibold-font-style: normal;
  --phone-h1-semibold-font-weight: 400;
  --phone-h1-semibold-letter-spacing: 0px;
  --phone-h1-semibold-line-height: 34px;
  --phone-h2-bold-font-family: "Petrobras Sans", Helvetica;
  --phone-h2-bold-font-size: 24px;
  --phone-h2-bold-font-style: normal;
  --phone-h2-bold-font-weight: 700;
  --phone-h2-bold-letter-spacing: 0px;
  --phone-h2-bold-line-height: 28px;
  --phone-h2-light-font-family: "Petrobras Sans", Helvetica;
  --phone-h2-light-font-size: 24px;
  --phone-h2-light-font-style: normal;
  --phone-h2-light-font-weight: 300;
  --phone-h2-light-letter-spacing: 0px;
  --phone-h2-light-line-height: 28px;
  --phone-h2-regular-font-family: "Petrobras Sans", Helvetica;
  --phone-h2-regular-font-size: 24px;
  --phone-h2-regular-font-style: normal;
  --phone-h2-regular-font-weight: 400;
  --phone-h2-regular-letter-spacing: 0px;
  --phone-h2-regular-line-height: 28px;
  --phone-h2-semibold-font-family: "Petrobras Sans", Helvetica;
  --phone-h2-semibold-font-size: 24px;
  --phone-h2-semibold-font-style: normal;
  --phone-h2-semibold-font-weight: 400;
  --phone-h2-semibold-letter-spacing: 0px;
  --phone-h2-semibold-line-height: 28px;
  --phone-h3-bold-font-family: "Petrobras Sans", Helvetica;
  --phone-h3-bold-font-size: 22px;
  --phone-h3-bold-font-style: normal;
  --phone-h3-bold-font-weight: 700;
  --phone-h3-bold-letter-spacing: 0px;
  --phone-h3-bold-line-height: 24px;
  --phone-h3-light-font-family: "Petrobras Sans", Helvetica;
  --phone-h3-light-font-size: 22px;
  --phone-h3-light-font-style: normal;
  --phone-h3-light-font-weight: 300;
  --phone-h3-light-letter-spacing: 0px;
  --phone-h3-light-line-height: 24px;
  --phone-h3-regular-font-family: "Petrobras Sans", Helvetica;
  --phone-h3-regular-font-size: 22px;
  --phone-h3-regular-font-style: normal;
  --phone-h3-regular-font-weight: 400;
  --phone-h3-regular-letter-spacing: 0px;
  --phone-h3-regular-line-height: 24px;
  --phone-h3-semibold-font-family: "Petrobras Sans", Helvetica;
  --phone-h3-semibold-font-size: 22px;
  --phone-h3-semibold-font-style: normal;
  --phone-h3-semibold-font-weight: 400;
  --phone-h3-semibold-letter-spacing: 0px;
  --phone-h3-semibold-line-height: 24px;
  --phone-h4-bold-font-family: "Petrobras Sans", Helvetica;
  --phone-h4-bold-font-size: 20px;
  --phone-h4-bold-font-style: normal;
  --phone-h4-bold-font-weight: 700;
  --phone-h4-bold-letter-spacing: 0px;
  --phone-h4-bold-line-height: 24px;
  --phone-h4-light-font-family: "Petrobras Sans", Helvetica;
  --phone-h4-light-font-size: 20px;
  --phone-h4-light-font-style: normal;
  --phone-h4-light-font-weight: 300;
  --phone-h4-light-letter-spacing: 0px;
  --phone-h4-light-line-height: 24px;
  --phone-h4-regular-font-family: "Petrobras Sans", Helvetica;
  --phone-h4-regular-font-size: 20px;
  --phone-h4-regular-font-style: normal;
  --phone-h4-regular-font-weight: 400;
  --phone-h4-regular-letter-spacing: 0px;
  --phone-h4-regular-line-height: 24px;
  --phone-h4-semibold-font-family: "Petrobras Sans", Helvetica;
  --phone-h4-semibold-font-size: 20px;
  --phone-h4-semibold-font-style: normal;
  --phone-h4-semibold-font-weight: 400;
  --phone-h4-semibold-letter-spacing: 0px;
  --phone-h4-semibold-line-height: 22px;
  --phone-h5-bold-font-family: "Petrobras Sans", Helvetica;
  --phone-h5-bold-font-size: 18px;
  --phone-h5-bold-font-style: normal;
  --phone-h5-bold-font-weight: 700;
  --phone-h5-bold-letter-spacing: 0px;
  --phone-h5-bold-line-height: 20px;
  --phone-h5-light-font-family: "Petrobras Sans", Helvetica;
  --phone-h5-light-font-size: 18px;
  --phone-h5-light-font-style: normal;
  --phone-h5-light-font-weight: 300;
  --phone-h5-light-letter-spacing: 0px;
  --phone-h5-light-line-height: 20px;
  --phone-h5-regular-font-family: "Petrobras Sans", Helvetica;
  --phone-h5-regular-font-size: 18px;
  --phone-h5-regular-font-style: normal;
  --phone-h5-regular-font-weight: 400;
  --phone-h5-regular-letter-spacing: 0px;
  --phone-h5-regular-line-height: 20px;
  --phone-h5-semibold-font-family: "Petrobras Sans", Helvetica;
  --phone-h5-semibold-font-size: 18px;
  --phone-h5-semibold-font-style: normal;
  --phone-h5-semibold-font-weight: 400;
  --phone-h5-semibold-letter-spacing: 0px;
  --phone-h5-semibold-line-height: 20px;
  --phone-h6-bold-font-family: "Petrobras Sans", Helvetica;
  --phone-h6-bold-font-size: 16px;
  --phone-h6-bold-font-style: normal;
  --phone-h6-bold-font-weight: 700;
  --phone-h6-bold-letter-spacing: 0px;
  --phone-h6-bold-line-height: 18px;
  --phone-h6-light-font-family: "Petrobras Sans", Helvetica;
  --phone-h6-light-font-size: 16px;
  --phone-h6-light-font-style: normal;
  --phone-h6-light-font-weight: 300;
  --phone-h6-light-letter-spacing: 0px;
  --phone-h6-light-line-height: 18px;
  --phone-h6-regular-font-family: "Petrobras Sans", Helvetica;
  --phone-h6-regular-font-size: 16px;
  --phone-h6-regular-font-style: normal;
  --phone-h6-regular-font-weight: 400;
  --phone-h6-regular-letter-spacing: 0px;
  --phone-h6-regular-line-height: 18px;
  --phone-h6-semibold-font-family: "Petrobras Sans", Helvetica;
  --phone-h6-semibold-font-size: 16px;
  --phone-h6-semibold-font-style: normal;
  --phone-h6-semibold-font-weight: 400;
  --phone-h6-semibold-letter-spacing: 0px;
  --phone-h6-semibold-line-height: 18px;
  --semantic-error-base: rgba(237, 29, 36, 1);
  --semanticinfobase: rgba(0, 178, 169, 1);
  --shadow-l: 0px 6px 8px 0px rgba(0, 0, 0, 0.1);
  --shadow-m: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
  --shadow-s: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  --shadow-XL: 0px 8px 10px 0px rgba(0, 0, 0, 0.1);
  --tablet-body-base-font-family: "Petrobras Sans", Helvetica;
  --tablet-body-base-font-size: 16px;
  --tablet-body-base-font-style: normal;
  --tablet-body-base-font-weight: 400;
  --tablet-body-base-letter-spacing: 0px;
  --tablet-body-base-line-height: 24px;
  --tablet-body-s-font-family: "Petrobras Sans", Helvetica;
  --tablet-body-s-font-size: 14px;
  --tablet-body-s-font-style: normal;
  --tablet-body-s-font-weight: 400;
  --tablet-body-s-letter-spacing: 0px;
  --tablet-body-s-line-height: 21px;
  --tablet-body-XS-font-family: "Petrobras Sans", Helvetica;
  --tablet-body-XS-font-size: 12px;
  --tablet-body-XS-font-style: normal;
  --tablet-body-XS-font-weight: 400;
  --tablet-body-XS-letter-spacing: 0px;
  --tablet-body-XS-line-height: 18px;
  --tablet-display-bold-font-family: "Petrobras Sans", Helvetica;
  --tablet-display-bold-font-size: 34px;
  --tablet-display-bold-font-style: normal;
  --tablet-display-bold-font-weight: 700;
  --tablet-display-bold-letter-spacing: 0px;
  --tablet-display-bold-line-height: 40px;
  --tablet-display-light-font-family: "Petrobras Sans", Helvetica;
  --tablet-display-light-font-size: 34px;
  --tablet-display-light-font-style: normal;
  --tablet-display-light-font-weight: 300;
  --tablet-display-light-letter-spacing: 0px;
  --tablet-display-light-line-height: 40px;
  --tablet-display-regular-font-family: "Petrobras Sans", Helvetica;
  --tablet-display-regular-font-size: 34px;
  --tablet-display-regular-font-style: normal;
  --tablet-display-regular-font-weight: 400;
  --tablet-display-regular-letter-spacing: 0px;
  --tablet-display-regular-line-height: 40px;
  --tablet-display-semibold-font-family: "Petrobras Sans", Helvetica;
  --tablet-display-semibold-font-size: 34px;
  --tablet-display-semibold-font-style: normal;
  --tablet-display-semibold-font-weight: 400;
  --tablet-display-semibold-letter-spacing: 0px;
  --tablet-display-semibold-line-height: 40px;
  --tablet-h1-bold-font-family: "Petrobras Sans", Helvetica;
  --tablet-h1-bold-font-size: 30px;
  --tablet-h1-bold-font-style: normal;
  --tablet-h1-bold-font-weight: 700;
  --tablet-h1-bold-letter-spacing: 0px;
  --tablet-h1-bold-line-height: 34px;
  --tablet-h1-light-font-family: "Petrobras Sans", Helvetica;
  --tablet-h1-light-font-size: 30px;
  --tablet-h1-light-font-style: normal;
  --tablet-h1-light-font-weight: 300;
  --tablet-h1-light-letter-spacing: 0px;
  --tablet-h1-light-line-height: 34px;
  --tablet-h1-regular-font-family: "Petrobras Sans", Helvetica;
  --tablet-h1-regular-font-size: 30px;
  --tablet-h1-regular-font-style: normal;
  --tablet-h1-regular-font-weight: 400;
  --tablet-h1-regular-letter-spacing: 0px;
  --tablet-h1-regular-line-height: 34px;
  --tablet-h1-semibold-font-family: "Petrobras Sans", Helvetica;
  --tablet-h1-semibold-font-size: 30px;
  --tablet-h1-semibold-font-style: normal;
  --tablet-h1-semibold-font-weight: 400;
  --tablet-h1-semibold-letter-spacing: 0px;
  --tablet-h1-semibold-line-height: 34px;
  --tablet-h2-bold-font-family: "Petrobras Sans", Helvetica;
  --tablet-h2-bold-font-size: 26px;
  --tablet-h2-bold-font-style: normal;
  --tablet-h2-bold-font-weight: 700;
  --tablet-h2-bold-letter-spacing: 0px;
  --tablet-h2-bold-line-height: 28px;
  --tablet-h2-light-font-family: "Petrobras Sans", Helvetica;
  --tablet-h2-light-font-size: 26px;
  --tablet-h2-light-font-style: normal;
  --tablet-h2-light-font-weight: 300;
  --tablet-h2-light-letter-spacing: 0px;
  --tablet-h2-light-line-height: 28px;
  --tablet-h2-regular-font-family: "Petrobras Sans", Helvetica;
  --tablet-h2-regular-font-size: 26px;
  --tablet-h2-regular-font-style: normal;
  --tablet-h2-regular-font-weight: 400;
  --tablet-h2-regular-letter-spacing: 0px;
  --tablet-h2-regular-line-height: 28px;
  --tablet-h2-semibold-font-family: "Petrobras Sans", Helvetica;
  --tablet-h2-semibold-font-size: 26px;
  --tablet-h2-semibold-font-style: normal;
  --tablet-h2-semibold-font-weight: 400;
  --tablet-h2-semibold-letter-spacing: 0px;
  --tablet-h2-semibold-line-height: 28px;
  --tablet-h3-bold-font-family: "Petrobras Sans", Helvetica;
  --tablet-h3-bold-font-size: 24px;
  --tablet-h3-bold-font-style: normal;
  --tablet-h3-bold-font-weight: 700;
  --tablet-h3-bold-letter-spacing: 0px;
  --tablet-h3-bold-line-height: 24px;
  --tablet-h3-light-font-family: "Petrobras Sans", Helvetica;
  --tablet-h3-light-font-size: 24px;
  --tablet-h3-light-font-style: normal;
  --tablet-h3-light-font-weight: 300;
  --tablet-h3-light-letter-spacing: 0px;
  --tablet-h3-light-line-height: 24px;
  --tablet-h3-regular-font-family: "Petrobras Sans", Helvetica;
  --tablet-h3-regular-font-size: 24px;
  --tablet-h3-regular-font-style: normal;
  --tablet-h3-regular-font-weight: 400;
  --tablet-h3-regular-letter-spacing: 0px;
  --tablet-h3-regular-line-height: 24px;
  --tablet-h3-semibold-font-family: "Petrobras Sans", Helvetica;
  --tablet-h3-semibold-font-size: 24px;
  --tablet-h3-semibold-font-style: normal;
  --tablet-h3-semibold-font-weight: 400;
  --tablet-h3-semibold-letter-spacing: 0px;
  --tablet-h3-semibold-line-height: 24px;
  --tablet-h4-bold-font-family: "Petrobras Sans", Helvetica;
  --tablet-h4-bold-font-size: 21px;
  --tablet-h4-bold-font-style: normal;
  --tablet-h4-bold-font-weight: 700;
  --tablet-h4-bold-letter-spacing: 0px;
  --tablet-h4-bold-line-height: 22px;
  --tablet-h4-light-font-family: "Petrobras Sans", Helvetica;
  --tablet-h4-light-font-size: 21px;
  --tablet-h4-light-font-style: normal;
  --tablet-h4-light-font-weight: 300;
  --tablet-h4-light-letter-spacing: 0px;
  --tablet-h4-light-line-height: 24px;
  --tablet-h4-regular-font-family: "Petrobras Sans", Helvetica;
  --tablet-h4-regular-font-size: 21px;
  --tablet-h4-regular-font-style: normal;
  --tablet-h4-regular-font-weight: 400;
  --tablet-h4-regular-letter-spacing: 0px;
  --tablet-h4-regular-line-height: 22px;
  --tablet-h4-semibold-font-family: "Petrobras Sans", Helvetica;
  --tablet-h4-semibold-font-size: 21px;
  --tablet-h4-semibold-font-style: normal;
  --tablet-h4-semibold-font-weight: 400;
  --tablet-h4-semibold-letter-spacing: 0px;
  --tablet-h4-semibold-line-height: 22px;
  --tablet-h5-bold-font-family: "Petrobras Sans", Helvetica;
  --tablet-h5-bold-font-size: 19px;
  --tablet-h5-bold-font-style: normal;
  --tablet-h5-bold-font-weight: 700;
  --tablet-h5-bold-letter-spacing: 0px;
  --tablet-h5-bold-line-height: 20px;
  --tablet-h5-light-font-family: "Petrobras Sans", Helvetica;
  --tablet-h5-light-font-size: 19px;
  --tablet-h5-light-font-style: normal;
  --tablet-h5-light-font-weight: 300;
  --tablet-h5-light-letter-spacing: 0px;
  --tablet-h5-light-line-height: 20px;
  --tablet-h5-regular-font-family: "Petrobras Sans", Helvetica;
  --tablet-h5-regular-font-size: 19px;
  --tablet-h5-regular-font-style: normal;
  --tablet-h5-regular-font-weight: 400;
  --tablet-h5-regular-letter-spacing: 0px;
  --tablet-h5-regular-line-height: 22px;
  --tablet-h5-semibold-font-family: "Petrobras Sans", Helvetica;
  --tablet-h5-semibold-font-size: 19px;
  --tablet-h5-semibold-font-style: normal;
  --tablet-h5-semibold-font-weight: 400;
  --tablet-h5-semibold-letter-spacing: 0px;
  --tablet-h5-semibold-line-height: 20px;
  --tablet-h6-bold-font-family: "Petrobras Sans", Helvetica;
  --tablet-h6-bold-font-size: 17px;
  --tablet-h6-bold-font-style: normal;
  --tablet-h6-bold-font-weight: 700;
  --tablet-h6-bold-letter-spacing: 0px;
  --tablet-h6-bold-line-height: 22px;
  --tablet-h6-light-font-family: "Petrobras Sans", Helvetica;
  --tablet-h6-light-font-size: 17px;
  --tablet-h6-light-font-style: normal;
  --tablet-h6-light-font-weight: 300;
  --tablet-h6-light-letter-spacing: 0px;
  --tablet-h6-light-line-height: 18px;
  --tablet-h6-regular-font-family: "Petrobras Sans", Helvetica;
  --tablet-h6-regular-font-size: 17px;
  --tablet-h6-regular-font-style: normal;
  --tablet-h6-regular-font-weight: 400;
  --tablet-h6-regular-letter-spacing: 0px;
  --tablet-h6-regular-line-height: 18px;
  --tablet-h6-semibold-font-family: "Petrobras Sans", Helvetica;
  --tablet-h6-semibold-font-size: 17px;
  --tablet-h6-semibold-font-style: normal;
  --tablet-h6-semibold-font-weight: 400;
  --tablet-h6-semibold-letter-spacing: 0px;
  --tablet-h6-semibold-line-height: 18px;
  --text-extrasmall-font-family: "Petrobras Sans", Helvetica;
  --text-extrasmall-font-size: 10px;
  --text-extrasmall-font-style: normal;
  --text-extrasmall-font-weight: 400;
  --text-extrasmall-letter-spacing: -0.2px;
  --text-extrasmall-line-height: normal;
  --x-neutralneutral-10: rgba(16, 18, 19, 1);
  --x-neutralneutral-7: rgba(106, 113, 120, 1);
}
