{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>3WLS - Login</title>
  <link rel="stylesheet" href="{% static 'nafto/LayoutLoginLeft/LayoutLoginLeft.css' %}">
</head>
<body>
  <div class="layout-login-left">
    <div class="login-panel">
      <div class="logo-container">
        <img src="{% static 'nafto/LayoutLoginLeft/logo-petrobras.svg' %}" alt="Logo Petrobras" class="logo-petrobras">
        <img src="{% static 'nafto/LayoutLoginLeft/3w_sem_fundo.svg' %}" alt="Logo 3WLS" class="logo-3wls">
      </div> 
      <form method="POST" class="login-content">
        {% csrf_token %}
        <div class="login-title">Acesse sua conta</div>

        <div class="input">
          <input type="text" name="username" placeholder="Endereço de e-mail ou CHAVE" required>
        </div>

        <div class="input">
          <input type="password" name="password" placeholder="Senha" required>
        </div>

        <div class="options-row">
          <label class="remember-me">
            <input type="checkbox" name="remember"> Lembrar-me
          </label>
          <a href="https://identidade.petrobras.com.br/" class="forgot-password">Esqueceu a senha?</a>
        </div>

        <button type="submit" class="log-in-button">
          <span class="text">Entrar</span>
        </button>

        {% if mensagem %}
          <p style="color:red; margin-top: 12px;">{{ mensagem }}</p>
        {% endif %}
      </form>
    </div>
    <div class="image-panel"></div>
  </div>
</body>
</html>
